.place__description {
    grid-area: description;
    font-size: 18px;
    line-height: 30px;
    display: grid;
    row-gap: 20px;
    align-content: start;
}

.place__description p {
    margin: 0;
}

@media (max-width: 1023px) {
    .place__description {
        font-size: 16px;
        line-height: 27px;
        margin-top: -10px;
    }
}
