.menu__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (max-width: 767px) {
    .menu__list {
        flex-direction: column;
    }
}
