@import "./__lang/lang-switch__lang.css";

.lang-switch {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 19px;
}

@media (max-width: 767px) {
    .lang-switch {
        grid-gap: 24px;
    }
}
