.lead__image-cover {
    margin-left: -24px;
    width: calc(100% + 48px);
}

@media (max-width: 767px) {
    .lead__image-cover {
        margin-left: -16px;
        width: calc(100% + 32px);
    }
}
