@import "./title/title.css";
@import "./header/header.css";
@import "./centerer/centerer.css";
@import "./link/link.css";
@import "./lang-switch/lang-switch.css";
@import "./section/section.css";
@import "./image/image.css";
@import "./lead/lead.css";
@import "./places/places.css";
@import "./photo-grid/photo-grid.css";
@import "./intro/intro.css";
@import "./place/place.css";
@import "./videos/videos.css";
@import "./video/video.css";
@import "./footer/footer.css";
@import "./menu/menu.css";
@import "./comments/comments.css";
@import "./comment/comment.css";
@import "./promo/promo.css";
@import "./scroll/scroll.css";