@import "./__list.css/places__list.css";

.places {
    margin: 102px auto 0;
    max-width: 985px;
}

@media (max-width: 1279px) {
    .places {
        margin-top: 117px;
    }
}

@media (max-width: 1023px) {
    .places {
        margin-top: 106px;
    }
}
