.videos__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin-top: 58px;
}

@media (max-width: 1023px) {
    .videos__list {
        margin-top: 43px;
    }
}
